.score-title {
  font-family: Gotham;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
}

.score-list {
  list-style-type: none;
  padding: 15px;
}

.score-list li {
  font-family: Gotham;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.highest-score {
  color: #ff5155;
}
